
img#TitlePhoto {
    border-radius: 100px;
    margin-top: -100px;
    height: 200px;
    width: 200px;
    margin-left: 70px;
}

header {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/12/20/26/mosque-1819673_1280.jpg);
    height:200px;
}